.link {
  padding: 10px;
  background-color: #d4d4d4;
  border-radius: 6px;
  color: #000000;
}
.link:hover {
  background-color: #b3b3b3;
  color: #000000;
}
.nav {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin: 25px 0;
}
